@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$green: #49f357;

*, *::before, *::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    
    font-family: 'century gothic', 'Poppins';
    color: $green;
}

body, html {
    width: 100vw;
    height: 100vh;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: #3e4a3c;
    font-size: 1.5rem;
}

.container {

    &__title {
        font-size: 3em;
    }
    
    &__inputRange {
        width: 80%;
    }

    &__inputNum {
        font-size: 1.2em;
        padding: 10px;
        
        width: 12%;
        border: none;
        appearance: none;
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 1em 0 1em 0;
    }

    &__result {
        font-size: 1.6em;
        background: transparent;
        border: 4px solid $green;
        border-radius: 0.3em 0 0 0.3em;
        padding: 8px 20px;
        width: 90%;
        border-right: none;
    }

    &__button {
        background: transparent;
        border: 4px solid $green;
        font-size: 1.6em;
        padding: 0.9% 2%;
        border-radius: 0 .3em .3em 0;
        
    }
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    
  }

input[type="range"]::-moz-range-track {
    background: $green;
    height: 0.4rem;
}
input[type="range"]::-webkit-slider-runnable-track {
    background: $green;
    height: 0.4rem;
}

input[type="range"]::-webkit-slider-thumb {
    width: 50px;
    height: 50px;
}

input[type="range"]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}